<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
	<body>

		{% extends "template.html" %}
    {% block content %}

		<h1>Welcome to the homepage</h1>

		<p><a href="https://www.sutd.edu.sg/">Click here</a> to find out more about Singapore University of Technology and Design.</p>

    <h3> My First Try Using Flask </h3>
    <p> Flask is Fun </p>

		<!-- <img src="https://blog.vantagecircle.com/content/images/size/w540h360/2019/09/welcome.png" alt="Welcome image" style="width:540px;height:360px;"> -->

		{% endblock %}

	</body>
</html>
